a {
    text-decoration: none;
    color: #B8860B;
}

a:hover {
    color:#675600; 
}
.primary-menu {
    background: #B8860B;
}

.primary-menu a {
    color: white !important;
}

.primary-menu a:hover {
    color: #ddd !important;
}

.secondary-menu ul {
    text-align: right;
    padding: 8px 0;
}

.secondary-menu ul li {
    display: inline-block;
    margin-left: 8px;
    font-size: 85%;
}

#block-enccb-theme-page-title h1 {
    color: #B8860B;
}

#block-enccb-theme-local-tasks ul {
    text-align: right;
    padding: 8px 0;
}

#block-enccb-theme-local-tasks  ul li {
    display: inline-block;
    margin-left: 8px;
    font-size: 85%;
}

footer {
  background: #333;
  padding: 32px 0px;
  color: white;
  margin-top: 2rem;
}

footer a {
    color: white;
}

footer a:hover {
    color: #B8860B;
}

footer h2 {
    font-variant: small-caps;
    font-size: 110%;
    font-weight: bold;
}
