$main_color: #B8860B;
$main_color_darker: darken($main_color, 10%);

a {
    text-decoration: none;
    color: $main_color;
    
    &:hover {
        color: $main_color_darker; 
        text-decoration: underline dotted; 
    }
}

header#enccb-header {
    padding-bottom: 2rem;
    background-image: url('../header-bg.svg');
    background-position: center top;
    text-align: center;
}

#enccb-primary-menu nav.navbar {
    background: $main_color;
    
    a.nav-link {
        color: white !important;
        
        &:hover {
            color: #ddd !important;
            text-decoration: none;
        }
    }
}

#enccb-highlighted {
    .alert {
        margin-top: 1rem;
    }
}


#enccb-secondary-menu ul {
    text-align: right;
    padding: 8px 0;
    
    li {
        display: inline-block;
        margin-left: 1rem;
        font-size: 90%;
    }
}

// page title
#enccb-page-title {
    
    h1 {
        color: $main_color;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

// admin links tabs
#block-tabs ul {
    text-align: right;
    margin: 1rem 0;
    
    li {
        display: inline-block;
        margin-left: 1rem;
        font-size: 85%;
        background: $main_color;
        padding: 0 .5rem;
        
        &:hover  {
            background: $main_color_darker;
        }
        
        a {
            color: white;
            
            &:hover {
                text-decoration: none;
            }
        }
    }
}

// forms
form .description {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}

// article
article {
    margin-top: 1rem;
}

// view mode: full
.view-mode-full article {
    border-top: 1px solid $main_color;
    padding-top: 1rem;
}

article.full {
    margin-top: 2rem;
        
    h1 {
        font-variant: small-caps;
        font-size: 2rem;
        font-weight: bold;
        color: $main_color;
    }

    .field-image {
        margin-top: 1rem;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    .field-tags {
        margin: 1rem 0;
        
        a {
            display: inline-block;
            border: 1px solid $main_color;
            padding: 0 .5rem;
        }
    }
}

// view mode: tile
.view-mode-tile article {

    .field-image img {
        max-width: 100%;
        height: auto;
    }
    
    .overlay {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        margin: 0;
        width: 100%;
        color: #ccc;
        background-color: rgba(0,0,0,0.5);
        
        h2 {
            font-size: 1.25rem;
            font-weight: bold;
            text-align: center;
            font-variant: small-caps;
        }
        
        .overlay-hidden-content {
            display: none;
        }
    }
    
    &:hover .overlay {
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        padding-top: 33%;
        
        .overlay-hidden-content {
            display: block;
        }
    }
}

// pager
nav.pager {
    border-top: 1px solid $main_color;
    padding-top: 1rem;
    
    ul {
        text-align: right;
        li {
            display: inline-block;
            background: $main_color;
            padding: 0 .5rem;
            
            &.is-active {
                background: white;
                border: 1px solid $main_color;
            }
            
            &:not(.is-active):hover  {
                background: $main_color_darker;
            }
            
            &:not(.is-active) a {
                color: white;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// footer
footer#enccb-footer {
    background: #333;
    background-image: url('../footer-bg.svg');
    background-position: center bottom;
    padding: 32px 0px;
    color: white;
    margin-top: 2rem;
    
    h2 {
        font-variant: small-caps;
        font-size: 110%;
        font-weight: bold;
        margin-top: 1rem;
    }

    a {
        color: white;
        
        &:hover {
            color: $main_color;
        }
    }
}
