$main_color: #B8860B;
$main_color_darker: darken($main_color, 10%);

// general
a {
    text-decoration: none;
    color: $main_color;

    &:hover {
        color: $main_color_darker;
        text-decoration: underline dotted;
    }
}

img.align-left {
    margin-right: .5rem;
    margin-bottom: .5rem;
}

img.align-right {
    margin-left: .5rem;
    margin-bottom: .5rem;
}

blockquote {
    border-left: 1px solid $main_color;
    padding-left: 2rem;
}

blockquote:before {
    content: '“';
    font-family: Times, serif;
    font-size: 3rem;
    color: $main_color;
    position: absolute;
    margin-left: -1.75rem;
    margin-top: -1rem;
}

// header
header#enccb-header {
    padding-bottom: 2rem;
    background-image: url('../header-bg.svg');
    background-position: center top;
    text-align: center;
}

// primary menu
#enccb-primary-menu nav.navbar {
    background: $main_color;
    box-shadow: 0 2px 2px #aaa;

    a.nav-link {
        color: white !important;

        &:hover {
            color: #ddd !important;
            text-decoration: none;
        }
    }
}

// secondary menu
#enccb-secondary-menu ul {
  text-align: right;
  padding: 8px 0;

  li {
    display: inline-block;
    margin-left: 1rem;
    font-size: 90%;
  }
}

// highlighted
#enccb-highlighted {

  padding-top: 1rem;
  background-image: linear-gradient(
      to bottom,
      lighten($main_color, 55%) 0%,
      lighten($main_color, 55%) 50%,
      white 50%,
      white 100%
  );

  h2 {
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: $main_color;
  }
}

// help
#enccb-help {
    .alert {
        margin-top: 1rem;
    }
}

// page title
#enccb-page-title {

    h1 {
        color: $main_color;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
}

// admin links tabs
#block-tabs ul {
    text-align: right;
    margin: 1rem 0;

    li {
        display: inline-block;
        margin-left: 1rem;
        font-size: 85%;
        background: $main_color;
        padding: 0 .5rem;

        &:hover  {
            background: $main_color_darker;
        }

        a {
            color: white;

            &:hover {
                text-decoration: none;
            }
        }
    }
}

// forms
form .description {
    margin-top: .25rem;
    font-size: .875em;
    color: #6c757d;
}

// article
article {
    margin-top: 1rem;
}

// view mode: full
.view-mode-full article {
    border-top: 1px solid $main_color;
    padding-top: 1rem;
}

article.full {
    margin-top: 2rem;

    h1 {
        font-variant: small-caps;
        font-size: 2rem;
        font-weight: bold;
        color: $main_color;
    }

    .field-image {
        margin-top: 1rem;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .field-tags {
        margin: 1rem 0;

        a {
            display: inline-block;
            border: 1px solid $main_color;
            padding: 0 .5rem;
        }
    }

  .field-interviewee {
    border: 1px dashed #bbb;
    background: #eee;
    padding: .5rem 1rem;
    overflow: auto;
    margin: 1rem 0;
  }
}

// view mode: teaser
.view-mode-teaser article {

    border-top: 1px solid $main_color;
    padding-top: 1rem;

    .field-image {
      text-align: center;
      img {
        max-width: 100%;
        height: auto;

      }
    }

    h2 {
        font-size: 1.25rem;
        font-weight: bold;
        font-variant: small-caps;
    }

    .field-tags {
        margin: 1rem 0;

        a {
            display: inline-block;
            border: 1px solid $main_color;
            padding: 0 .5rem;
        }
    }

}

// view mode: tile
.view-mode-tile article {
    border: 1px solid #ccc;

    .field-image img {
        max-width: 100%;
        height: auto;
    }

    .overlay {
        position: absolute;
        bottom: 0;
        padding: 1rem;
        margin: 0;
        width: 100%;
        color: #eee;
        background-color: rgba(0,0,0,0.6);

        h3 {
            font-size: 1.25rem;
            font-weight: bold;
            text-align: center;
            font-variant: small-caps;
        }

        .overlay-hidden-content {
            display: none;
            margin-top: 1rem;
        }
    }

    &:hover .overlay {
        bottom: unset;
        top: 50%;
        transform: translateY(-50%);
        height: 100%;
        padding-top: 10%;

        .overlay-hidden-content {
            display: block;
        }
    }
}

// pager
nav.pager {
    border-top: 1px solid $main_color;
    padding-top: 1rem;

    ul {
        text-align: right;
        li {
            display: inline-block;
            background: $main_color;
            padding: 0 .5rem;

            &.is-active {
                background: white;
                border: 1px solid $main_color;
            }

            &:not(.is-active):hover  {
                background: $main_color_darker;
            }

            &:not(.is-active) a {
                color: white;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

// footer
footer#enccb-footer {
  background: #333 url('../footer-bg.svg') center bottom;
  padding: 32px 0;
    color: white;
    margin-top: 2rem;

    h2 {
        font-variant: small-caps;
        font-size: 110%;
        font-weight: bold;
        margin-top: 1rem;
    }

    a {
        color: white;

        &:hover {
            color: $main_color;
        }
    }
}
